{% extends "base_nav.html.j2" %}
{% block title %}Maths Race{% endblock %}

{% block content %}
  <div class="centreContent">
    <h1>Sign up</h1>
    <p>{{ get_flashed_messages()[-1] }}</p>
    <form method="post">
      <label for="username">Username</label>
      <input type="text" name="username" required>

      <label for="password">Password</label>
      <input type="password" name="password" required>

      <label for="confirmpassword">Confirm password</label>
      <input type="password" name="confirmpassword" required>

      <input type="submit" name="submit" value="Submit" class="mainbutton formbutton">
    </form>
  </div>
{% endblock %}
