{% extends "base_nav.html.j2" %}
{% import 'main/macros.html.j2' as macros %}
{% block title %}Maths Race{% endblock %}

{% block content %}
  <div class="centreContent">
    <h1>What is Maths Race?</h1>
    <p>Maths Race is an online game for racing other people by quickly answering maths questions.</p>

    {{ macros.leaderboard(lb) }}

    <h1>Get started</h1>
    <div class="mainbuttons">
      <a class="mainbutton" href="{{ url_for('auth.signup') }}">Sign up</a><!--
   --><a class="mainbutton" href="{{ url_for('auth.login') }}">Log in</a>
    </div>
  </div>
{% endblock %}
